<app-top-bar></app-top-bar>
<div>
  <h3>My collections</h3>
  <div class="poster-img-container">
    <img
      *ngFor="let i of numSequence(7)"
      class="poster-img"
      src="../../assets/Shrek.jpg"
      alt="Shrek poster"
    />
  </div>
</div>

<div>
  <h3>Movies</h3>
  <div class="poster-img-container">
    <img
      *ngFor="let i of numSequence(7)"
      class="poster-img"
      src="../../assets/Shrek.jpg"
      alt="Shrek poster"
    />
  </div>
</div>

<div>
  <h3>Series</h3>
  <div class="poster-img-container">
    <img
      *ngFor="let i of numSequence(7)"
      class="poster-img"
      src="../../assets/Shrek.jpg"
      alt="Shrek poster"
    />
  </div>
</div>
