<h1 (click)="refreshPage()">{{ type | titlecase }}</h1>
<form
  class="search-container"
  [formGroup]="searchForm"
  (ngSubmit)="handleSearch()"
>
  <mat-form-field class="input">
    <mat-label>Search For Title</mat-label>
    <input
      matInput
      placeholder="Title"
      type="text"
      minlength="2"
      formControlName="title"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Search For Year</mat-label>
    <input
      matInput
      placeholder="Year"
      type="number"
      formControlName="year"
      min="1900"
      [max]="maxYear"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!searchForm.valid"
  >
    Search
  </button>
</form>
<p *ngIf="!isYearValid" class="errorMessageYear">Year must be above 1900</p>
<h1 *ngIf="!shouldShowMedia" class="errorMessage">There's no media to show</h1>
<div *ngIf="medias.length > 0" class="media-container">
  <div *ngFor="let media of medias" class="mediaCard">
    <a [routerLink]="['/' + type, media.id]">
      <img [src]="media.posterUrl" class="poster-img" />
      <h4>{{ media.title }}</h4>
    </a>
  </div>
</div>
