<div *ngIf="collection">
  <h1>{{ collection.title }}</h1>
  <h2>Movies</h2>
  <div class="media-container">
    <h2 *ngIf="!shouldShowMovies">No movies in collection to show</h2>
    <div *ngFor="let movie of collection.movies" class="media-card">
      <button
        type="button"
        title="Remove from collection"
        (click)="handleDelete(movie.id, 'movie')"
      >
        <svg
          fill="#FF0000"
          width="20px"
          height="20px"
          viewBox="-3.5 0 19 19"
          xmlns="http://www.w3.org/2000/svg"
          class="cf-icon-svg"
        >
          <path
            d="M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z"
          />
        </svg>
      </button>
      <a [routerLink]="['/movies', movie.id]">
        <img [src]="movie.posterUrl" class="poster-img" />
        <h4>{{ movie.title }}</h4>
      </a>
    </div>
  </div>
  <h2>Series</h2>
  <div class="media-container">
    <h2 *ngIf="!shouldShowSeries">No series in collection to show</h2>
    <div *ngFor="let ser of collection.series" class="media-card">
      <button
        type="button"
        title="Remove from collection"
        (click)="handleDelete(ser.id, 'series')"
      >
        <svg
          fill="#FF0000"
          width="20px"
          height="20px"
          viewBox="-3.5 0 19 19"
          xmlns="http://www.w3.org/2000/svg"
          class="cf-icon-svg"
        >
          <path
            d="M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z"
          />
        </svg>
      </button>
      <a [routerLink]="['/series', ser.id]">
        <img [src]="ser.posterUrl" class="poster-img" />
      </a>
      <h4>{{ ser.title }}</h4>
    </div>
  </div>
</div>
