.poster-img {
  height: 250px;
}

.media-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 4vh 2vw;
}

.media-card {
  position: relative;
  flex-direction: column;
}

.media-card > button {
  width: fit-content;
  position: absolute;
  right: 0px;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  margin: 0 2vw;
}
