<div *ngIf="movie">
  <h1>{{ movie.title }}</h1>
  <div class="component-container">
    <img [src]="movie.posterUrl" alt="poster" />
    <div class="details-container">
      <p>Director(s): {{ movie.directors.join(", ") }}</p>
      <p>Play time: {{ movie.length }}</p>
      <p>Released in {{ movie.year }}</p>
      <p>{{ movie.watched ? "Already seen" : "Not seen yet" }}</p>
      <label htmlFor="collectionSelect">Add to Collection:</label>
      <select [(ngModel)]="selectedCollection" id="collectionSelect">
        <option
          *ngFor="let collection of collectionOptions"
          [value]="collection.id"
        >
          {{ collection.title }}
        </option>
      </select>
      <button (click)="addToCollection()">Select collection</button>
    </div>
  </div>
</div>
