.component-container {
  display: flex;
  flex-direction: row;
  padding: 50px 30px;
}

.component-container > img {
  height: 70vh;
}

.details-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: 50px;
  font-size: 25px;
}

h2 {
  text-align: center;
}

.addBtn {
  margin-left: 40px;
}
